body {
  text-align: center;
  }

#container {
  margin: 0 auto;
  width: 818px;
  text-align: left;
  }
#header {
background: url("cabeza2.jpg") no-repeat;
	height: 132px;
	width: 818px;
	background-position: center;
}


ul li {
    display: inline;
}

ul {
	position: relative;
	top: 110px;
	left: -30px;
	color: #03163e;
	font: 14px Verdana, Arial, Helvetica, sans-serif;
}

li {
	padding: 2px;
}

a {
	color: #03163e;
	font: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#contenido {
	margin: 10px 20px;
}
.campo {
	background-color:white;
	border:1px solid #6c707a;
	color:#000000;
}
fieldset{
	margin-top: 25px;
	border-color:#6c707a;
} 

.login{
	margin: 20px 55px;
}
h1{
	color: #091122;
	font: 22px Arial, Helvetica, sans-serif;
}
p{
	color: #091122;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: justify;
}
.boton{
	background-color:#f4e1b7;
	border:1px solid #000000;
	color:#6c707a;
	margin-left: 30px;
}
div.errors{
	background:#f7f5f5 none repeat scroll 0% 0%;
	border:1px #6c707a;
	margin-top:10px;
	padding:5px;
}
div.footer {
	border-top: 1px solid #6c707a;
	text-align: center;
	padding-top: 6px;
	font-size: 12px;
	color: #091122;
}


